body {
    margin: 0;
}

#headline {
    font-size: 36px;
    color: rgba(0,0,0,.8);
    text-align: center;
}

.font {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

figure {
    margin: 0;
}

article {
    width: 700px;
    margin: auto;
}

p {
    color: rgba(0,0,0,.8);
    font-family: Georgia, Cambria,"Times New Roman", Times, serif;
    font-size: 21px;
    word-spacing: -0.003em;
    line-height: 1.58;
}

a {
    color:  rgba(0,0,0,.8);
    
}

a:hover {
    color: rgba(153, 153, 153, 1)
}

img {
    width: 100%;
    height: auto;
}

#picture-caption {
    text-align: center;
}
